#outer{
    width:400px;
    border: solid 2px;
    height: 450px;
    background-color: bisque;
}
#top{
    background-color: black;
    margin:0 20px;
    text-align: center;
    color: white;
}
#display{
    position: absolute;
    width:100%;
}
#display-container{
    position: relative;
    height: 70px;
    border: solid 2px;
    width: 350px;
    overflow: hidden;
    margin:0 20px;
    background-color: beige;
    color: black;
}
#layout{
    height: 500px;
    margin-top: 20px;
}

.btn1{
    display: inline-block;
    width: 90px;
    height: 50px;
    border: solid 2px;    
    text-align: center; 
    background-color: white;
}
.lastbtn{
 background-color: crimson;
}
.btn1 p{
    font-weight: bold;
    font-size: 20px;
}
